{% extends 'simple_pages/base.html' %} {% block title %}Login{% endblock %} {%
block head %} {{ super() }}
<link
  href="{{ url_for('static', filename='css/login.css') }}"
  rel="stylesheet"
/>
{% endblock %} {% block body %}

<div class="login-screen">
  <p style="color: tomato">{{ error }}</p>
  <div class="app-title">
    <img
      class="logo2"
      src="https://drive.google.com/uc?export=view&id=1EfrjITRzCrElKJ7nnQ34dKFBI036mR0F"
    />
    <h1>Sign up</h1>
  </div>
  <div class="login-form">
    <form action="" method="post">
      <div class="control-group">
        <input
          type="text"
          class="login-field"
          name="username"
          placeholder="Username"
          id="login-username"
          required
        />
        <label class="login-field-icon fui-user" for="login-username"></label>
      </div>
      <div class="control-group">
        <input
          type="text"
          class="login-field"
          name="email"
          placeholder="Email"
          id="login-email"
          required
        />
        <label class="login-field-icon fui-user" for="login-email"></label>
      </div>
      <div class="control-group">
        <input
          type="password"
          class="login-field"
          name="password"
          placeholder="Password"
          id="login-pass"
          required
        />
        <label class="" for=""></label>
      </div>
      <div class="link">
        <button type="submit" class="login">Register</button>
      </div>
    </form>
  </div>
</div>
{% if error %} {% endif %} {%endblock%}
