* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-image: url("https://drive.google.com/uc?export=view&id=1sEY5SK6NwT1gWRzKiEEkbiL85nOCxZuh");

  height: max-content;
  background-size: cover auto;
  background-repeat: no-repeat;
}
header {
  background-color: yellow;
}
li {
  list-style: none;
}

a {
  color: violet;
  text-decoration: none;
}

.brand {
  font-size: 2.4rem;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 25px;
}

.navmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
}

.brand {
  font-size: 2.5rem;
}

.navlink {
  transition: 0.7s ease;
  font-size: 30px;
}

.navlink:hover {
  color: rgb(0, 0, 0);
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: violet;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navmenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: grey;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  .navitem {
    margin: 16px 0;
  }
  .navmenu.active {
    left: 0;
  }

  .navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
  }
}
