.userticket {
  /* put in middle flext  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  /* end middle flex */
}

.userticket > input {
  width: 20%;
  margin: 5px;
}

.userticket > label {
  color: violet;
  font-weight: bolder;
  margin-bottom: 10px;
}

.userticket > select {
  margin-bottom: 20px;
}

.userticketstored {
  /* put in middle flext  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
  background-color: rgb(48, 130, 73);
  /* end middle flex */
}
.userticketstored > form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3px;
  background-color: rgb(48, 130, 73);
  /* end middle flex */
}

.userticketstored > input {
  width: 20%;
  margin: 5px;
}

.userticketstored > label {
  color: violet;
  font-weight: bolder;
  margin-bottom: 10px;
}

.userticketstored > select {
  margin-bottom: 20px;
}
