{% extends 'simple_pages/base.html' %} {% block title %}EUROJACKPOT{% endblock
%} {% block head %} {{ super() }}
<link
  href="{{ url_for('static', filename='css/eurojackpot.css') }}"
  rel="stylesheet"
/>
{% endblock %} {% block body %}

<h1>Results by day</h1>
{% for lotto in lottonr_paginated %}
<!-- klappt nur ohhne .items.. -->
<div class="test">
  <h2>{{lotto.day.capitalize()}}</h2>
  <a class="links" href="{{url_for('eurojackpot.eurojackpot', day=lotto.day)}}"
    >{{lotto.day.capitalize()}}</a
  >
  {% endfor %}
</div>
<div class="pageselector">
  {% if lottonr_paginated.prev_num %}
  <a href="/eurojackpot?page={{ lottonr_paginated.prev_num }}">Previous Page</a>
  {% else %}
  <span>Previous Page</span>
  {% endif %}

  <span> - </span>

  {% if lottonr_paginated.next_num %}
  <a href="/eurojackpot?page={{ lottonr_paginated.next_num }}">Next Page</a>
  {% else %}
  <span>Next Page</span>
  {% endif %}
</div>

{% endblock %}
