{% extends 'simple_pages/base.html' %} {% block title %}Tickets{% endblock %} {%
block head %} {{ super() }}
<link
  href="{{ url_for('static', filename='css/usertickets.css') }}"
  rel="stylesheet"
/>

{% endblock %} {%block body %}

<form
  class="userticket"
  method="POST"
  action="{{ url_for('ticket_form.post_tickets') }}"
>
  <label for="playday">Playday of Lotto:</label><br />
  <select id="playday" name="playday">
    <option value="Monday">Monday</option>
    <option value="Tuesday">Tuesday</option>
    <option value="Wednesday">Wednesday</option>
    <option value="Thursday">Thursday</option>
    <option value="Friday">Friday</option>
    <option value="Saturday">Saturday</option>
    <option value="Sunday">Sunday</option></select
  ><br />

  <label for="main-numbers">Main Numbers:</label><br />
  <input
    type="number"
    id="main1"
    name="main1"
    min="1"
    max="50"
    required
  /><br />
  <input
    type="number"
    id="main2"
    name="main2"
    min="1"
    max="50"
    required
  /><br />
  <input
    type="number"
    id="main3"
    name="main3"
    min="1"
    max="50"
    required
  /><br />
  <input
    type="number"
    id="main4"
    name="main4"
    min="1"
    max="50"
    required
  /><br />
  <input
    type="number"
    id="main5"
    name="main5"
    min="1"
    max="50"
    required
  /><br />

  <label for="super-numbers">Super Numbers:</label><br />
  <input
    type="number"
    id="super1"
    name="super1"
    min="1"
    max="12"
    required
  /><br />
  <input
    type="number"
    id="super2"
    name="super2"
    min="1"
    max="12"
    required
  /><br />

  <input type="submit" value="Submit" />
</form>
<script src="/static/ticketvalidation.js"></script>

{% if tickets %}
<div class="userticketstored" >
  <h2>Your Tickets</h2>
  {% for ticket in tickets %}


  <form method="POST" action="{{ url_for('ticket_form.edit_tickets') }}">
    <input type="hidden" name="mainnr_id" value="{{ ticket.mainnr_id }}">
    <input type="hidden" name="supernr_id" value="{{ ticket.supernr_id }}">
    <input type="hidden" name="user_id" value="{{ ticket.user_id }}">
    <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
  
    <select id="playday" name="playday">
      <option value="Monday" {% if ticket.playday == "Monday" %}selected{% endif %}>Monday</option>
      <option value="Tuesday" {% if ticket.playday == "Tuesday" %}selected{% endif %}>Tuesday</option>
      <option value="Wednesday" {% if ticket.playday == "Wednesday" %}selected{% endif %}>Wednesday</option>
      <option value="Thursday" {% if ticket.playday == "Thursday" %}selected{% endif %}>Thursday</option>
      <option value="Friday" {% if ticket.playday == "Friday" %}selected{% endif %}>Friday</option>
      <option value="Saturday" {% if ticket.playday == "Saturday" %}selected{% endif %}>Saturday</option>
      <option value="Sunday" {% if ticket.playday == "Sunday" %}selected{% endif %}>Sunday</option>
    </select>

      <label for="main-numbers">Main Numbers:</label><br />
      <input
      type="number"
      id="main1"
      name="main1"
      min="1"
      max="50"
      required
      value="{% for m in Main.query.filter_by(id=ticket.mainnr_id).all() %}{{ m.nr1 }}{% endfor %}"
      /><br />
      <input
      type="number"
      id="main2"
      name="main2"
      min="1"
      max="50"
      required
      value="{% for m in Main.query.filter_by(id=ticket.mainnr_id).all() %}{{ m.nr2 }}{% endfor %}"
      /><br />
      <input
      type="number"
      id="main3"
      name="main3"
      min="1"
      max="50"
      required
      value="{% for m in Main.query.filter_by(id=ticket.mainnr_id).all() %}{{ m.nr3 }}{% endfor %}"
      /><br />
      <input
      type="number"
      id="main4"
      name="main4"
      min="1"
      max="50"
      required
      value="{% for m in Main.query.filter_by(id=ticket.mainnr_id).all() %}{{ m.nr4 }}{% endfor %}"
      /><br />
      <input
      type="number"
      id="main5"
      name="main5"
      min="1"
      max="50"
      required
      value="{% for m in Main.query.filter_by(id=ticket.mainnr_id).all() %}{{ m.nr5 }}{% endfor %}"
      /><br />
      
      <label for="super-numbers">Super Numbers:</label><br />
      <input
      type="number"
      id="super1"
      name="super1"
      min="1"
      max="12"
      required
      value="{% for s in Super.query.filter_by(id=ticket.supernr_id).all() %}{{ s.nr1 }}{% endfor %}"
      /><br />
      <input
      type="number"
      id="super2"
      name="super2"
      min="1"
      max="12"
      required
      value="{% for s in Super.query.filter_by(id=ticket.supernr_id).all() %}{{ s.nr2 }}{% endfor %}"
      /><br />
      
      <button type="submit" value="Submit">Update</button>
  </form>
  <form method="POST" action="{{ url_for('ticket_form.delete_tickets') }}">
    <input type="hidden" name="mainnr_id" value="{{ ticket.mainnr_id }}">
    <input type="hidden" name="supernr_id" value="{{ ticket.supernr_id }}">
    <input type="hidden" name="user_id" value="{{ ticket.user_id }}">
    <input type="hidden" name="ticket_id" value="{{ ticket.id }}">
   
    <button type="submit" value="Submit">Delete</button>
  
  </form>

  {% endfor %} {% else %}
  <div class="no-tickets">
    <h2>You have no tickets</h2>
  </div>
  {% endif %}
</div>
{% endblock %}
